[submodule "third_party/lerobot"]
	path = third_party/lerobot
	url = https://github.com/huggingface/lerobot
[submodule "third_party/libero"]
	path = third_party/libero
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "third_party/mimicgen/mimicgen"]
	path = third_party/mimicgen/mimicgen
	url = https://github.com/NVlabs/mimicgen.git
[submodule "third_party/mimicgen/robomimic"]
	path = third_party/mimicgen/robomimic
	url = https://github.com/ARISE-Initiative/robomimic.git
[submodule "third_party/mimicgen/robosuite-task-zoo"]
	path = third_party/mimicgen/robosuite-task-zoo
	url = https://github.com/ARISE-Initiative/robosuite-task-zoo
[submodule "third_party/mimicgen/robosuite"]
	path = third_party/mimicgen/robosuite
	url = https://github.com/ARISE-Initiative/robosuite.git
[submodule "third_party/droid_policy_learning"]
	path = third_party/droid_policy_learning
	url = https://github.com/droid-dataset/droid_policy_learning
